$colo-base-tipografia:white;
$bg-body:black;
$bg-seleccion:rgb(5, 73, 45);
$color-font-seleccion:rgb(250, 250, 250);
$borde-imput-form:black;
$mouse-hover:rgb(255, 255, 255);
$tipografia-base:Verdana, Geneva, Tahoma, sans-serif;
$margen-main-base:40px;
$fondobase:rgb(5, 5, 5);
